PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:3000/auth/discord/callback
SESSION_SECRET=change-this-to-a-long-random-secret

DISCORD_GUILD_ID=1528414840601841815
DISCORD_INVITE_URL=https://discord.gg/celes
